# Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller build output
build/
dist/
*.spec

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# Temporary / output files
*.xlsx
!*Template*.xlsx
